{   "extends": ["wesbos", "airbnb-base"],
    "rules": {
        "react/prop-types": "off",
        "no-console": "off"
    },
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "requireConfigFile": false,
        "babelOptions": {
            "presets": ["@babel/preset-react"]
        }
    }
    
}